<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="UTF-8">
    <title>all lead</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>


<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class=" {{ message.tags }} "> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div style=" text-align: center;">
        <h1>This is home page </h1>
        <a href="/sales/Get_my_all_leads"><button>My all leads</button></a></br>
        <a href="/sales/Get_my_worked_leads"><button>My worked Leads</button></a></br>
        <a href=""><button>My profile</button></a>
    </div>
</body>

</html>