<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>all lead</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li class=" {{ message.tags }} "> {{ message }} </li>
    {% endfor %}
  </ul>
  {% endif %}

  <h3 style="text-align: center;">Here You are check Your Feedbacked and Demo's leads wise</h3>
  <div style="text-align: center;">
    <a href="/sales/feedback/?next={{request.GET.next}}"><button>Create another feedback </button></a>
    <a href="/sales/demo_creating/?next={{request.GET.next}}"><button>Create another Demo </button></a>
    <a href="/sales/logout"><button>logout here</button></a>
  </div>

  <div class="container" style=" margin-top: 40px;" id="all_leads">
    <div class="row">
      <div class="col-lg-6">
        <h2 style="text-align: center;">Feedbacke's</h2>
        {% for i in feedbackes %}
        <table class="table" style="border:black; border-width:2px; border-style:solid;">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Key</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>typeFeedBack</td>
              <td>{{i.typeFeedBack}}</td>
            </tr>
            <tr>
              <td>By</td>
              <td>{{i.by}}</td>
            </tr>
            <tr>
              <td>lead</td>
              <td>{{i.lead}}</td>
            </tr>
            <tr>
              <td>Time</td>
              <td>{{i.time}}</td>
            </tr>
            <tr>
              <td>Ratinf</td>
              <td>{{i.rating}}</td>
            </tr>
            <tr>
              <td>Notes</td>
              <td>{{i.notes}}</td>
            </tr>
            <tr>
              <td>NextCall</td>
              <td>{{i.nextCall}}</td>
            </tr>
            <tr>
              <td>NextCallDate</td>
              <td>{{i.nextCallDate}}</td>
            </tr>
            <tr>
              <td>Demo</td>
              <td>{{i.demo}}</td>
            </tr>
            <tr>
              <td>DemoDate</td>
              <td>{{i.demoDate}}</td>
            </tr>
            <tr>
              <td>Feedback</td>
              <td>{{i.feedback}}</td>
            </tr>
            <tr>
              <td>FurtherCall</td>
              <td>{{i.furtherCall}}</td>
            </tr>
            <tr>
              <td>priceQuoted</td>
              <td>{{i.priceQuoted}}</td>
            </tr>
          </tbody>
        </table>
        {% endfor %}
      </div>
      <div class="col-lg-6">
        <h2 style="text-align: center;">Demo's</h2>
        {% for demo in demos %}
        <table class="table" style="border:black; border-width:2px; border-style:solid;">
  <thead class=" thead-dark">
          <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>typedemo</td>
              <td>{{demo.typedemo}}</td>
            </tr>
            <tr>
              <td>By</td>
              <td>{{demo.by}}</td>
            </tr>
            <tr>
              <td>lead</td>
              <td>{{demo.lead}}</td>
            </tr>
            <tr>
              <td>demo_rating</td>
              <td>{{demo.demo_rating}}</td>
            </tr>
            <tr>
              <td>demo_feedback</td>
              <td>{{demo.demo_feedback}}</td>
            </tr>
            <tr>
              <td>extra_notes</td>
              <td>{{demo.extra_notes}}</td>
            </tr>
            <tr>
              <td>price_quoted</td>
              <td>{{demo.price_quoted}}</td>
            </tr>
            <tr>
              <td>demo_nextCall</td>
              <td>{{demo.demo_nextCall}}</td>
            </tr>
            <tr>
              <td>demo_nextCallDate</td>
              <td>{{demo.demo_nextCallDate}}</td>
            </tr>
          </tbody>
        </table>
        {% endfor %}

      </div>
    </div>
  </div>
</body>
</html>